button, .btn-redondo{
    @extend %transition;
}

button{
    text-transform: uppercase;
    font-weight: 600 !important;
    font-size: 14px;    
    letter-spacing: 1px;
    padding: 0 20px;
}

.btn-azul-oscuro{
    background:#005eea !important;
    color: #FFF !important;
    margin-top: -15px;
}

.btn-azul-oscuro:hover, .btn-azuloscuro:active {
    background: #0552c5 !important;
}
