@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:100,300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Sarabun:300,400,500,600,700,800");
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}
.material-icons {
  font-family: "Material Icons" !important;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

/* Rules for sizing the icon. */
.material-icons.md-12 {
  font-size: 12px;
}

.material-icons.md-14 {
  font-size: 14px;
}

.material-icons.md-16 {
  font-size: 16px;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: white;
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

@font-face {
  font-family: "LigatureSymbols";
  src: url("fuentes/LigatureSymbols-2.11.eot");
  src: url("fuentes/LigatureSymbols-2.11.eot?#iefix") format("embedded-opentype"), url("fuentes/LigatureSymbols-2.11.woff") format("woff"), url("fuentes/LigatureSymbols-2.11.ttf") format("truetype"), url("fuentes/LigatureSymbols-2.11.svg#LigatureSymbols") format("svg");
  src: url("fuentes/LigatureSymbols-2.11.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.lsf, .lsf-icon:before {
  font-family: "LigatureSymbols";
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.lsf-icon:before {
  content: attr(title);
  margin-right: 0.3em;
  font-size: 140%;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.lsf-icon.password:before {
  content: "";
  position: relative;
  top: -39px;
  float: right;
  right: 5px;
  color: #00000070 !important;
  cursor: pointer;
}

.lsf-icon.passwordActive:before {
  content: "";
  position: relative;
  top: -39px;
  float: right;
  right: 5px;
  color: #005eea !important;
  cursor: pointer;
}

body, html {
  font-size: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  letter-spacing: normal;
  text-rendering: optimizeLegibility;
}

a, a:link {
  text-decoration: none;
}

input, button {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

button {
  cursor: pointer;
}

button {
  text-transform: uppercase;
  font-weight: 600 !important;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 0 20px;
}

.btn-azul-oscuro {
  background: #005eea !important;
  color: #FFF !important;
  margin-top: -15px;
}

.btn-azul-oscuro:hover, .btn-azuloscuro:active {
  background: #0552c5 !important;
}

body#loginBody {
  background: #f4f6fc;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  font-family: "Sarabun", sans-serif !important;
  color: #333 !important;
  overflow: hidden !important;
}

main#loginMain {
  background: #FFF;
  width: 50%;
  height: 500px;
  margin: 20px auto;
  box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.1), 0 0 15px rgba(0, 0, 0, 0.06);
  border-radius: 3px;
  text-align: center;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

#izquierda {
  background-color: #000;
  background: url(../imagenes/bg-gasolina.jpg);
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 40%;
  height: 100%;
  border-radius: 3px 0px 0px 3px;
  -webkit-filter: saturate(0.3);
  filter: saturate(0.3);
  margin-left: -4px;
}
#izquierda .info-lateral {
  color: #FFF;
  text-align: right;
  text-transform: uppercase;
  position: relative;
  margin-right: 5%;
}

#derecha {
  background: transparent;
  width: 59%;
  height: auto;
  margin: 0 auto;
  text-align: left;
}

form#login {
  width: 70%;
  margin: 0 auto;
}
form#login input[type=text]:focus, form#login input[type=password]:focus {
  box-shadow: inset 0 0 0px 1px #9ad0ff;
  border: none !important;
  background: aliceblue;
  outline: 0;
}
form#login #mensaje-error {
  width: 100%;
  color: #c23616;
  box-shadow: inset 0 0 0px 1px #c23616;
  height: 35px;
  text-align: center;
  line-height: 35px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}

a.sub-titulo {
  color: #00000050;
  font-weight: 400;
  font-size: 14px;
}

.disabled-button-login {
  background: #4d8ceb !important;
  cursor: inherit;
}

.loader {
  border: 5px solid transparent;
  border-radius: 50%;
  border-top: 5px solid #FFF;
  width: 20;
  height: 20px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 1100px) {
  main#loginMain {
    width: 70% !important;
    height: 400px !important;
  }
}
@media (max-width: 900px) {
  main#loginMain {
    width: 70% !important;
    height: 380px !important;
  }

  #login h2 {
    font-size: 18px;
  }

  a.sub-titulo {
    font-size: 14px;
  }
}
@media (max-width: 800px) {
  main#loginMain {
    width: 70% !important;
    height: 300px !important;
  }

  #login h2 {
    font-size: 18px;
  }

  a.sub-titulo {
    font-size: 14px;
  }
}
@media (max-width: 585px) {
  body#loginBody {
    display: block;
  }

  main#loginMain {
    width: 100% !important;
    height: 100% !important;
    margin: 0 auto;
  }

  main section {
    width: 100% !important;
  }

  #izquierda {
    height: 40% !important;
    border-radius: 0px;
    background-size: 100% auto;
    margin: 0 auto;
  }

  #derecha {
    height: 60% !important;
    align-items: center;
    display: table !important;
    width: 90% !important;
  }

  form#login {
    width: 90%;
    display: table-cell;
    vertical-align: middle;
  }

  input[type=text], input[type=password], button {
    height: 60px !important;
    font-size: 100% !important;
  }

  .lsf-icon.password:before, .lsf-icon.passwordActive:before {
    top: -45px !important;
  }
}
.morado-azul {
  background: linear-gradient(to left, #8e2de2, #0e86cc);
  background: -webkit-linear-gradient(to left, #8e2de2, #0e86cc);
}

.rojo-amarillo {
  background: -webkit-linear-gradient(to right, #f5af19, #f12711);
  background: linear-gradient(to left, #f5af19, #f12711);
}

.rosado-naranja {
  background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
  background: linear-gradient(to left, #FF4B2B, #FF416C);
}

.bg-blanco {
  background: #FFF !important;
}

.bg-gris {
  background: #f2f2f2;
}

.bg-transparent {
  background: transparent;
}

.bg-lila-morado-oscuro {
  background: radial-gradient(#394388 5%, #242c67 90%);
}

.bg-imagen-barberia {
  background-image: url(../imagenes/bg-barberia-top.jpg);
  background-position: center right;
  background-size: 100% auto;
}

.bg-azul-claro {
  background: #D7E0EE50 !important;
  color: #162741;
  border: 1px solid #D7E0EE !important;
}

.txt-gris {
  color: #5d5c5c;
}

.txt-negro {
  color: #333;
}

.txt-blanco {
  color: #FFF;
}

.border-none {
  border: none !important;
}

#izquierda, #derecha {
  display: inline-block;
  vertical-align: middle;
}

input[type=text], input[type=password], button, .btn-redondo, #loginMain > section, #izquierda, form#login #mensaje-error {
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.display-block {
  display: block !important;
}

.display-none {
  display: none;
  width: 1px !important;
}

input[type=text], input[type=password], button {
  width: 100%;
  height: 45px;
  margin: 5px 0;
  border: none;
  border-radius: 3px;
  outline: 0;
  text-align: center;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

input::placeholder {
  color: #00000060;
}

.width-auto {
  width: auto !important;
}

/*# sourceMappingURL=global.css.map */
